    <!-- ======= Hero Section ======= -->



    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">

          <h1>
            <!-- <span class="typewrite" data-period="1500" data-type='[ "Joseph", "Allan", "Aarón" ]'></span> -->
            Joseph Solis
            </h1>
          <p>I'm 
            <!-- <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span> -->
            <!-- <span class="typing-demo">Developer</span> -->
            <span class="typewrite" data-period="2000" data-type='[ "Developer", "Geek", "Gamer" ]'></span>
            <span class="blink">|</span> 
          </p>
          <div class="social-links">
            <a href="https://github.com/Helghast-Mx?tab=repositories" target="_blank" class=""><i class="bx bxl-github"></i></a>
            <a href="https://www.linkedin.com/in/josseph/" target="_blank" class=""><i class="bx bxl-linkedin"></i></a>
            <a href="https://www.instagram.com/joss_pha/" target="_blank" class=""><i class="bx bxl-instagram"></i></a>
            <!--<a href="https://twitter.com/SolisAllan" target="_blank" class=""><i class="bx bxl-twitter"></i></a>-->
            
          </div>
        </div>
      </section><!-- End Hero -->

<div class="arrow">
  <a href="/#resume">
    <span></span>
    <span></span>
    <span></span>
  </a>

</div>

